.home {
   position: relative;
   z-index: 10;
   padding-bottom: 15em;

   @include respondTo(tablet) {
      padding-bottom: 0;
   }

   form {
      position: relative;
      width: 20rem;
      background: #7A0000;
      border-radius: .7rem;

      @include respondTo(tablet) {}

      input,
      button {
         height: 2.5rem;
         border: 0;
         font-weight: 500;
         font-size: 12px;
         line-height: 14px;
         color: #FFFFFF;
         text-transform: uppercase;
      }

      input[type="search"] {
         width: 100%;
         font-size: 12px;
         line-height: 14px;
         color: #000000;
         background: #fff;
         padding: 0 1.6rem;
         border-radius: .7rem;
         appearance: none;
         transition: all 1s cubic-bezier(0, 0, 0.43, 1.49);
         transition-property: width, border-radius;
         position: relative;
      }

      button {
         display: none;
         position: absolute;
         top: 0;
         right: 0;
         width: 6rem;
         font-weight: bold;
         background: #7A0000;
         border-radius: 0 .7rem .7rem 0;
      }

      input:not(:placeholder-shown) {
         border-radius: .7rem 0 0 .7rem;
         width: calc(100% - 6rem);

         +button {
            display: block;
         }
      }
   }
}

.home-body {
   margin-top: 14px;
}

.home-reset {
   transform: translate(-8.5rem, .5rem);
   font-size: 12px;
   line-height: 14px;
   color: #FFFFFF;
   text-transform: uppercase;
}

.home-body__title {
   display: grid;
   place-items: center;
   margin-bottom: 62px;

   h2 {
      font-weight: 800;
      font-size: 30px;
      line-height: 36px;
      color: #FFFFFF;
      text-transform: uppercase;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 22px;
      position: relative;

      @include respondTo(tablet) {
         font-size: 18px;
      }

      &::before {
         content: '';
         position: absolute;
         width: 2em;
         height: 100%;
         background: #7A0000;
         left: 0;
         transform: translateX(-120%);
         border-radius: 25px 0px 0px 25px;

         @include respondTo(tablet) {
            width: 4em;
         }
      }

      &::after {
         content: '';
         position: absolute;
         width: 2em;
         height: 100%;
         background: #7A0000;
         right: 0;
         transform: translateX(120%);
         border-radius: 0px 25px 25px 0px;

         @include respondTo(tablet) {
            width: 4em;
         }
      }
   }
}

.home-wrapper {
   >div {
      background: rgba($color: #353133, $alpha: .35);
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 30px;
      place-items: center;
      max-width: 80rem;
      margin: 0 auto;
      max-height: 40rem;
      overflow-y: auto;
      padding: 2em 0;

      @include respondTo(tablet) {
         grid-template-columns: auto;
         max-width: 20rem;
         max-height: 30rem;
      }

      &::-webkit-scrollbar {
         width: 12px;
         /* width of the entire scrollbar */
      }

      &::-webkit-scrollbar-track {
         background: rgba(196, 196, 196, 0.11);
         ;
         /* color of the tracking area */
      }

      &::-webkit-scrollbar-thumb {
         background-color: rgba($color: #7a0000, $alpha: 0.44);
         /* color of the scroll thumb */
         border-radius: 10px;
         /* roundness of the scroll thumb */
      }
   }
}

.home-card {
   background: rgba($color: #C4C4C4, $alpha: .2);
   border-radius: 5px;
   width: 215px;
   height: 285px;
   position: relative;
   overflow: hidden;

   img {
      width: 216px;
      height: 133px;
      object-fit: cover;
      z-index: 0;
   }

   h3 {
      margin-top: 30px;
      font-weight: bold;
      font-size: 14px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
   }

   div {
      display: grid;
      place-items: center;

      button {
         position: absolute;
         right: 10px;
         bottom: 10px;
         font-size: 12px;
         line-height: 14px;
         color: #FFFFFF;
         z-index: 1;

         &::before {
            content: '';
            clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0% 100%);
            background: #7A0000;
            position: absolute;
            width: 13rem;
            height: 4.5rem;
            top: 0.55rem;
            right: -0.65rem;
            transform: translateY(-75%);
            z-index: -1;
         }
      }
   }
}